<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
<body>
<div class="container">
    <form style="width: 400px;margin: auto" th:object="${zgloszenie1}" method="get">
        <div class="uk-margin">
            <label>Id zgłoszenia : </label>
            <td th:utext="${zgloszenie1.id}">...</td>
        </div>
        <div class="uk-margin">
            <label>Dane zgłaszającego : </label>
            <td th:utext="${zgloszenie1.name}">...</td>
        </div>
        <div class="uk-margin">
            <label>Adres e-mail zgłaszającego : </label>
            <td th:utext="${zgloszenie1.email}">...</td>
        </div>
        <div class="uk-margin">
            <label>Telefon zgłaszającego : </label>
            <td th:utext="${zgloszenie1.phone}">...</td>
        </div>
        <div class="uk-margin">
            <label>Typ zgłoszenia : </label>
            <td th:utext="${zgloszenie1.type}">...</td>
        </div>
        <div class="uk-margin">
            <label>Numer seryjny urządzenia : </label>
            <td th:utext="${zgloszenie1.serialNumber}">...</td>
        </div>
        <div class="uk-margin">
            <label>Opis usterki/zgłoszenia : </label>
            <td th:utext="${zgloszenie1.description}">...</td>
        </div>
        <div class="uk-form-controls">
            <label>Wybierz pracownika</label>
            <select th:field="*{type}" class="uk-input">
                <option th:each="employee : ${employees}"
                        th:value="${employee.name}"
                        th:utext="${employee.name}"/>
            </select>
        </div>
        <input th:field="*{id}" type="number" hidden>
        <br>
        <div class="uk-button-group">
            <div class="uk-inline">
                <a th:href="@{/zgloszenia/lista}"><button class="uk-button uk-button-default" type="button" value="Zamknij"><span uk-icon="close"></span> Zamknij</a>
            </div>
            </div>
        <div class="uk-button-group">
            <div class="uk-inline">
                <a th:href="@{/zgloszenia/saveAdd}"><button class="uk-button uk-button-danger"  type="button" value="Zamknij" ><span uk-icon="check"></span>Zapisz</a>
            </div>
        </div>
        </form>
   </div>
</body>
</html>
