<!DOCTYPE html>
<<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::.container})}">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form style="width: 400px;margin: auto" th:object="${category}" th:action="@{/saveCategory}" method="post">
        <div class="uk-margin">
            <label>Nazwa kategorii</label>
            <input th:field="*{name}" type="text" class="uk-input" required>
        </div>
        <input th:field="*{id}" type="number" hidden>
        <a th:href="{/admin/categories}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input type="submit" class="uk-button uk-button-primary" value="Zapisz">
    </form>
</div>
</body>
</html>
