<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::.container})}">
<head>
    <meta charset="UTF-8">

<body>
<div class="container">
    <form style="width: 400px;margin: auto" th:object="${zgloszenie}" th:action="@{/saveAdd}" method="post">
        <div class="uk-margin">
            <label>Dane zgłaszającego (Imię i nazwisko)</label>
            <input th:field="*{name}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Adres e-mail zgłaszającego</label>
            <input th:field="*{email}" type="email" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Telefon zgłaszającego</label>
            <input th:field="*{phone}" type="text" class="uk-input">

        </div>
        <div class="uk-button uk-form-controls">
            <label>Typ zgłoszenia</label>
            <!--            <input th:field="*{type}" type="text" class="uk-input">-->
            <select th:field="*{type}" class="uk-input">
                <option th:each="category : ${categories}"
                        th:value="${category.name}"
                        th:utext="${category.name}"/>
            </select>
        </div>
        <div class="uk-margin">
            <label>Numer seryjny urządzenia</label>
            <input th:field="*{serialNumber}" type="text" class="uk-input">
        </div>
        <div class="uk-margin">
            <label>Opis usterki/zgłoszenia</label>
            <textarea th:field="*{description}" class="uk-textarea" rows="5"></textarea>
        </div>
<!--        <input th:field="*{id}" type="number" hidden>-->
<!--        <input th:field="*{user_name}">-->
<!--        <a th:href="@{/static}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>-->
<!--        <input type="submit" class="uk-button uk-button-primary" value="Zapisz">-->
        <div class="uk-button-group">
            <a href="/zgloszenia/lista" class="uk-button-primary"><i class="uk-button" uk-icon="close">Anuluj</i></a>
        </div>
        <div class="uk-button-group">
            <input type="submit" class="uk-button uk-button-primary" value="Zapisz">
        </div>

    </form>

</div>
</body>
</html>
