<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
<body>
<div class="container">
    <form style="width: 400px;margin: auto" th:object="${zgloszenie}" method="get">
        <div class="uk-margin">
            <label>Id zgłoszenia : </label>
            <td th:utext="${zgloszenie.id}">...</td>
        </div>
        <div class="uk-margin">
            <label>Dane zgłaszającego : </label>
            <td th:utext="${zgloszenie.name}">...</td>
        </div>
        <div class="uk-margin">
            <label>Adres e-mail zgłaszającego : </label>
            <td th:utext="${zgloszenie.email}">...</td>
        </div>
        <div class="uk-margin">
            <label>Telefon zgłaszającego : </label>
            <td th:utext="${zgloszenie.phone}">...</td>
        </div>
        <div class="uk-margin">
            <label>Typ zgłoszenia : </label>
            <td th:utext="${zgloszenie.type}">...</td>
        </div>
        <div class="uk-margin">
            <label>Numer seryjny urządzenia : </label>
            <td th:utext="${zgloszenie.serialNumber}">...</td>
        </div>
        <div class="uk-margin">
            <label>Opis usterki/zgłoszenia : </label>
            <td th:utext="${zgloszenie.description}">...</td>
        </div>
        <input th:field="*{id}" type="number" hidden>
        <a th:href="@{/templates/zgloszenia}"><input class="uk-button uk-button-danger" type="button" value="Zamknij"></a>
<!--        <a th:href="@{/email1}"><input class="uk-button uk-button-danger" type="button" value="Wyślij potwierdzenie"></a>-->
<!--        <input type="submit" class="uk-button uk-button-primary" value="Zapisz">-->
    </form>

</div>
</body>
</html>
