<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout::layout(~{::.container})}">
<head>

</head>
<body>
<div class="container">
    <div class="row">
        <h1>Zgłoszenia usterek</h1>
    </div>
    <div class="row">
        <table class="uk-table uk-table-striped uk-table-hover">
            <tr>
                <th><a class="uk-sortable" sd:pagination-sort="id">Id</a></th>
                <th><a class="uk-sortable">Data zgłoszenia</a></th>
                <th><a class="uk-sortable" sd:pagination-sort="description">Opis usterki</a></th>
                <th>Akcje</th>
            </tr>
            <tr th:each="zgloszenie : ${listaZgloszen}">
                <td th:text="${zgloszenie.id}"></td>
                <td th:text="${zgloszenie.cData}"></td>
                <td th:text="${zgloszenie.description}"></td>
                <td style="width:350px">
                    <a th:href="@{/zgloszenia/history/(id=${zgloszenie.id})}"><input class="uk-button uk-button-primary" value="Historia" type="button"> </a>
                    <a th:href="@{/zgloszenia/form/(id=${zgloszenie.id})}"><input class="uk-button uk-button-primary" value="Edytuj" type="button"> </a>
                    <a th:href="@{/zgloszenia/details/(id=${zgloszenie.id})}"><input class="uk-button uk-button-primary" value="Szczegóły" type="button"> </a>
                    <a th:href="@{/zgloszenia/del/(id=${zgloszenie.id})}"><input class="uk-button uk-button-danger" value="Usuń" type="button"> </a>
                </td>
            </tr>
        </table>

        <div class="col-sm-6">
        <div sd:pagination-summary="">info</div>
    </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="uk-pagination uk-flex-center" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>
                </ul>
            </nav>
        </div>
           </div>
</div>
</body>
</html>
