<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout::layout(~{::.container})}">
<head>

</head>
<body>
<div class="container">
    <div class="row">
        <h1>Zgłoszenia usterek</h1>
    </div>
    <div class="row">
    </div>
       <div class="row">
           <div class="uk-button-group">
               <a href="/zgloszenia/add" class="uk-button-primary"><i class="uk-button" uk-icon="plus-circle">Dodaj </i></a>
           </div>
        <table class="uk-table uk-table-striped uk-table-hover">
            <tr>
                <th><a class="uk-sortable" sd:pagination-sort="id">Id</a></th>
                <th><a class="uk-sortable">Data zgłoszenia</a></th>
                <th><a class="uk-sortable" sd:pagination-sort="description">Kategoria usterki</a></th>
                <th><a class="uk-sortable" sd:pagination-sort="description">Opis usterki</a></th>
                <th>Akcje</th>
            </tr>
            <tr th:each="zgloszenie : ${listaZgloszen}">
                <td th:text="${zgloszenie.id}"></td>
                <td th:text="${zgloszenie.cData}"></td>
                <td th:text="${zgloszenie.type}"></td>
                <td th:text="${zgloszenie.description}"></td>
                <td style="width:150px">
<!--                    <a th:href="@{/zgloszenia/history/(id=${zgloszenie.id})}" uk-icon="history" th:title="Historia"></a>-->
<!--                    <a th:href="@{/zgloszenia/form/(id=${zgloszenie.id})}" uk-icon="pencil" th:title="Edycja"></a>-->
<!--                    <a th:href="@{/zgloszenia/details/(id=${zgloszenie.id})}" uk-icon="info" th:title="Szczegóły"></a>-->
<!--                    <a th:href="@{/zgloszenia/zamknij/(id=${zgloszenie.id})}" uk-icon="lock" th:title="Zakończ"></a>-->
<!--                    <a></a>-->
<!--                    <a th:href="@{/manager/przydziel/(id=${zgloszenie.id})}" uk-icon="users" th:title="Przydziel"></a>-->
<!--                    <a th:href="@{/admin/usun/(id=${zgloszenie.id})}" uk-icon="warning" style="color: red" th:title="Usuń"></a>-->
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/zgloszenia/history/(id=${zgloszenie.id})}" uk-icon="history" th:title="Historia"></a>
                        <a th:href="@{/zgloszenia/form/(id=${zgloszenie.id})}" uk-icon="pencil" th:title="Edycja"></a>
                        <a th:href="@{/zgloszenia/details/(id=${zgloszenie.id})}" uk-icon="info" th:title="Szczegóły"></a>
                        <a th:href="@{/zgloszenia/zamknij/(id=${zgloszenie.id})}" uk-icon="lock" th:title="Zakończ"></a>
                        <a></a>
                        <a th:href="@{/manager/przydziel/(id=${zgloszenie.id})}" uk-icon="users" th:title="Przydziel"></a>
                        <a th:href="@{/admin/usun/(id=${zgloszenie.id})}" uk-icon="warning" style="color: red" th:title="Usuń"></a>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/zgloszenia/history/(id=${zgloszenie.id})}" uk-icon="history" th:title="Historia"></a>
                        <a th:href="@{/zgloszenia/form/(id=${zgloszenie.id})}" uk-icon="pencil" th:title="Edycja"></a>
                        <a th:href="@{/zgloszenia/details/(id=${zgloszenie.id})}" uk-icon="info" th:title="Szczegóły"></a>
                        <a th:href="@{/zgloszenia/zamknij/(id=${zgloszenie.id})}" uk-icon="lock" th:title="Zakończ"></a>
                        <a></a>
                        <a th:href="@{/manager/przydziel/(id=${zgloszenie.id})}" uk-icon="users" th:title="Przydziel"></a>
                        <a th:href="@{/admin/usun/(id=${zgloszenie.id})}" uk-icon="warning" style="color: red" th:title="Usuń"></a>
                </div>
                    <div sec:authorize="hasRole('MANAGER')">
                        <a th:href="@{/zgloszenia/history/(id=${zgloszenie.id})}" uk-icon="history" th:title="Historia"></a>
                        <a th:href="@{/zgloszenia/form/(id=${zgloszenie.id})}" uk-icon="pencil" th:title="Edycja"></a>
                        <a th:href="@{/zgloszenia/details/(id=${zgloszenie.id})}" uk-icon="info" th:title="Szczegóły"></a>
                        <a th:href="@{/zgloszenia/zamknij/(id=${zgloszenie.id})}" uk-icon="lock" th:title="Zakończ"></a>
                        <a th:href="@{/manager/przydziel/(id=${zgloszenie.id})}" uk-icon="users" th:title="Przydziel"></a>
                    </div>
                    <div sec:authorize="hasRole('USER')">
                        <a th:href="@{/zgloszenia/history/(id=${zgloszenie.id})}" uk-icon="history" th:title="Historia"></a>
                        <a th:href="@{/zgloszenia/form/(id=${zgloszenie.id})}" uk-icon="pencil" th:title="Edycja"></a>
                        <a th:href="@{/zgloszenia/details/(id=${zgloszenie.id})}" uk-icon="info" th:title="Szczegóły"></a>
                        <a th:href="@{/zgloszenia/zamknij/(id=${zgloszenie.id})}" uk-icon="lock" th:title="Zakończ"></a>
                    </div>

                </td>
            </tr>
        </table>

        <div class="col-sm-6">
        <div sd:pagination-summary="">info</div>
    </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="uk-pagination uk-flex-center" sd:pagination="full">
                    <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>
                </ul>
            </nav>
        </div>
           </div>
    </div>
</body>
</html>
