<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <title>Title</title>-->
</head>
<body>

<nav th:fragment="footer" class="uk-card-footer-container " uk-footer>
    <div class="uk-footer-center">
<!--        <a th:href="@{/}" class="uk-navbar-item uk-log" style="color: green"><b>Shop</b></a>-->
<!--        <ul class="uk-navbar-nav">-->
<!--            <li class="uk-parent"><a th:href="@{/products}">Produkty</a></li>-->
<!--            <li class="uk-parent"><a th:href="@{/users}">Użytkownicy</a></li>-->
<!--            <li class="uk-parent"><a th:href="@{/shipping}">Dostawa</a></li>-->
<!--        </ul>-->
<h4>Copyright </h4>
    </div>
</nav>

</body>
</html>
